.wrapper {
  width: fit-content;
}

.card {
  background: var(--inputs);
  border-radius: 20px;
  padding: 24px;
  width: 360px;
}

.form {
  display: flex;
  flex-direction: column;
}

.locationField {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 40px;
}
.locationWrapper {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  border-radius: 12px;
  background: var(--white);
  width: 312px;
  height: 56px;
}

.mapIcon {
  width: 24px;
  height: 24px;
  color: var(--main);
  flex-shrink: 0;
}

.locationInput {
  flex: 1;
  height: 100%;
  border: none;
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
  outline: none;
  border-radius: 12px;
  padding: 12px;
}
.locationLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray);
  margin-bottom: 8px;
}

.locationInput::placeholder {
  color: var(--gray);
}

.filtersTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
  margin-bottom: 24px;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 44px;
}

.groupTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray);
  margin-bottom: 8px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  color: var(--main);
  cursor: pointer;
}

.radioInput {
  appearance: none;
  width: 24px;
  height: 24px;
  min-width: 24px;
  border-radius: 50%;
  border: 1.5px solid var(--text);
  position: relative;
  cursor: pointer;
  transition: border-color var(--main-transition);
}

.radioInput:hover {
  border-color: var(--text);
}

.radioInput::after {
  border-radius: 100%;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  background: var(--text);
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition:
    transform var(--main-transition),
    opacity var(--main-transition);
}

.radioInput:checked {
  border-color: var(--text);
}

.radioInput:checked::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.searchButton {
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 200px;
  background: var(--grey-green);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  transition: background-color var(--main-transition);
  padding: 16px 60px;
}

.searchButton:hover,
.searchButton:focus {
  background: var(--green-hover);
}

.clearButton {
  border: 1px solid var(--gray-light);
  background-color: var(--white);
  width: 100%;
  transition: border-color var(--main-transition);
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 16px 0;
}

.clearButton:hover,
.clearButton:focus {
  background: var(--badges);
}
