@import 'modern-normalize';

:root {
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
  --grey-green: #829b91;
  --olive: #f0f1f1;
  --green-hover: #6d7b75;

  --main-transition: 333ms ease-in-out;

  --font-family: 'Inter', sans-serif;
  --second-family: 'Manrope', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  background: var(--inputs);
  color: var(--text);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  outline: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  padding: 0 64px;
  margin: 0 auto;
}
